h1{
    padding: 30px;
}
.form-name{
    padding: 30px;
}
.form-type{
    padding: 30px;
}
.form-address{
    padding: 30px;
}
.form-description{
    padding: 30px;
}
.btn-submit{
    padding: 30px;
}
button{
    padding: 20px;
}